@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700;900&display=swap" rel="stylesheet"');

:root {
    --custom-color-primary: #3A5AFF;
    --custom-color-light-blue: #3CC5FF;
    --custom-color-white: #fafafa;
    --custom-color-danger: #FF3B53;
    --custom-color-grey: #979797;
    --custom-color-light-grey: #F2F2F2;
    --custom-color-yellow: #FFC43B;
}

body {
    font-family: 'Montserrat', 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
}

.btn {
    font-weight: 700 !important;
}

.c--bg-grey {
    background: var(--custom-color-light-grey) !important;
}

.c--mb-6 {
    margin-bottom: 6rem !important;
}

.c--mb-8 {
    margin-bottom: 8rem !important;
}

.c--btn-primary {
    background-color: var(--custom-color-primary) !important;
    padding: 7px 17px !important;
}

.c--btn-light {
    background-color: var(--custom-color-white) !important;
    border: 1px solid var(--custom-color-grey);
    color: var(--custom-color-grey) !important;
    padding: 7px 17px !important;
}

.c--btn-primary:hover,
.c--btn-primary:active,
.c--btn-primary:focus {
    background-color: var(--custom-color-primary) !important;
}

.c--btn-light:hover,
.c--btn-light:active,
.c--btn-light:focus {
    background-color: var(--custom-color-white) !important;
    border: 1px solid var(--custom-color-grey);
    padding: 7px 17px !important;
}

.navbar--logo {
    display: block;
    width: 60% !important;
}

.navbar-light {
    background: #fff !important;
}

.c--f-48 {
    font-size: 48px !important;
    font-weight: 900 !important;
}

.vh-100 {
    height: calc(100vh - 60px) !important;
}

.whoIs--icons {
    width: 48px !important;
}

.c--link {
    color: #000;
    position: relative;
    text-decoration: none;
    width: 100% !important;
}

.c--link::after {
    background-color: var(--custom-color-primary);
    bottom: -3px;
    color: var(--custom-color-primary);
    content: " ";
    height: 3px;
    left: 0;
    position: absolute;
    transition: all 0.4s ease;
    width: 0% !important;
}

.c--link:hover:after {
    width: 100% !important;
}

.whoIs--card-container {
    background: #979797 !important;
}

.whoIs--card-item {
    width: 23% !important;
}

.c--text-heading {
    position: relative;
}

.c--text-heading::after {
    background-color: var(--custom-color-primary);
    bottom: -5px;
    color: var(--custom-color-primary);
    content: " ";
    height: 7px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    transition: all 0.4s ease;
    width: 150px !important;
}

.c--bg-primary {
    background: var(--custom-color-primary);
}

.whoIs--btn {
    display: block;
    margin: 0 auto !important;
}

.amaze--carousel-item {
    align-items: center;
    border-radius: 10px;
    display: flex;
    height: 300px;
    justify-content: center;
    object-fit: cover;
    padding: 0 !important;
    width: 600px;
}

.amaze--carousel-images {
    display: block !important;
    margin: 0 auto !important;
    width: 100% !important;
}

.class__room--container {
    align-items: center;
    background: var(--custom-color-yellow);
    display: flex;
    flex-direction: column;
    height: 80Vh;
    justify-content: center;
    width: 100%;
}

.c--rounded {
    border-radius: 35px;
}

.class__room--icon-arrow {
    font-size: 40px !important;
}

.work--item-image,
.work--item-caption {
    width: 50%;
}

.work--item-image img {
    display: block !important;
    width: 80% !important;
}

.work--item-share img {
    margin-left: auto !important;
    margin-right: 0 !important;
}

.customer--container {
    background: var(--custom-color-primary);
    height: 100vh;
    width: 100%;
}

.customer--container .c--text-heading::after {
    background: #fff;
}

.customer--card-caontainer {
    height: 80%;
    margin: 0 auto !important;
    padding: 0 !important;
    width: 90%;
}

.c--btn-customer {
    background: var(--custom-color-grey);
    height: 50px !important;
    width: 150px !important;
}

.customer--card-item {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 80% !important;
    justify-content: center;
    width: 48% !important;
}

.customer--card-item_line {
    background: var(--custom-color-white);
    height: 80%;
    width: 5px;
}

.customer--card-item_image {
    position: relative;
}

.customer--card-item_image img {
    border-radius: 50%;
    display: block;
    height: 250px;
    object-fit: cover;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    width: 250px;
    z-index: 0;
}

.customer--card-item_chat {
    align-items: center;
    background: var(--custom-color-white);
    border-radius: 25px;
    bottom: 50%;
    box-sizing: border-box;
    display: flex;
    padding: 10px 30px;
    position: absolute;
    right: 50%;
    transform: translate(35%, -100%);
    width: 60%;
    z-index: 1;
}

.customer--card-item_chat_rounded_1,
.customer--card-item_chat_rounded_2 {
    background: var(--custom-color-white);
    border-radius: 50%;
    bottom: 0;
    height: 30px;
    position: absolute;
    right: 10%;
    transform: translateY(15px);
    width: 30px;
}

.customer--card-item_chat_rounded_2 {
    bottom: -20px;
    height: 20px;
    right: -10px;
    width: 20px;

}

.customer--index-icon {
    border: 2px solid var(--custom-color-white) !important;
    border-radius: 50%;
    cursor: pointer;
    height: 24px;
    margin: 0 5px;
    position: relative;
    width: 24px;
}

.customer--index-icon.active::after {
    background: var(--custom-color-white) !important;
    border-radius: 50%;
    content: " ";
    height: 14px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 14px;
}

.learning__fun--item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 20%;
}

.learning__fun--item p {
    margin: 0 0 0 20px;

}

.learning__fun--item::before {
    background: var(--custom-color-primary) !important;
    content: " ";
    display: inline-block;
    height: 125% !important;
    position: absolute;
    width: 8px !important;
}

.learning__fun--item:nth-child(2)::before {
    background: var(--custom-color-light-blue) !important;
}

.learning__fun--item:nth-child(3)::before {
    background: var(--custom-color-danger) !important;
}

.learning__fun--item:nth-child(4)::before {
    background: var(--custom-color-yellow) !important;
}

.learning__fun--heading {
    font-size: 4rem;
    font-weight: 900 !important;
}

.footer--badge {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 300px !important;
}

.footer--badge a {
    cursor: pointer;
    display: block;
    width: 150px !important;
}

.footer--badge a>img {
    width: 100%;
}

.footer--sosial_media {
    align-items: center;
    background: var(--custom-color-light-grey);
    border-radius: 50%;
    display: flex;
    height: 35px;
    justify-content: center;
    width: 35px;
}


@media (max-width: 1200px) {
    .footer--container {
        width: 100% !important;
    }

    .footer-item {
        display: block !important;
        width: 45% !important;
    }

    .footer-item>img {
        display: block;
        width: 70% !important;
    }
}

@media (max-width: 825px) {
    .footer-item>img {
        display: block;
        width: 90% !important;
    }
}

@media (max-width: 768px) {
    .whoIs {
        height: 1350px !important;
    }

    .whoIs--card-item {
        margin-left: auto !important;
        margin-right: auto !important;
        width: 80% !important;
    }

    .header {
        height: 100vh;
    }

    .amaze--carousel-item {
        width: 500px;
    }

    .customer--container {
        height: auto !important;
        padding-bottom: 50px !important;
        padding-top: 50px !important;
    }

    .customer--card-item {
        height: 350px !important;
        width: 100% !important;
    }

    .customer--card-item_image {
        height: 250px !important;
    }


    .customer--card-item_line {
        background: var(--custom-color-white);
        height: 5px;
        width: 100%;
    }

    .customer--card-item_chat {
        transform: translate(13%, -100%);
    }


    .customer--card-item_image img {
        height: 200px;
        width: 200px;
    }

    .c--mb-8 {
        margin-bottom: 5rem !important;
    }

    .learning__fun--item {
        margin-bottom: 2rem;
        width: 45%;
    }

    .footer-item {
        width: 90% !important;
    }

    .footer-item>img {
        display: block;
        width: 70% !important;
    }
}

@media (max-width: 576px) {
    .amaze--carousel-item {
        width: 450px;
    }

    .work--item-image,
    .work--item-caption {
        width: 80%;
    }

    .c--mb-6 {
        margin-bottom: 3rem !important;
    }

    .learning__fun--item {
        height: 50px;
        margin: 0 auto 3rem auto;
        width: 80%;
    }

    .footer-item>img {
        display: block;
        width: 80% !important;
    }

    .footer--sosial_media-container {
        width: 85% !important;
    }

    .work--item-image img {
        margin: 0 auto !important;
    }
}